.mostaffcontainer
{
    height: auto;
    width: 100%;
    background-color:  #21B4AF;
    display: flex;
    justify-content: center;
}

.mostaffheading
{
  flex-direction: column;
  height: auto;
  /* background-color: blue; */
  width: 60%;
}

.mostafflogo
{
  height: auto;
  /* background-color: lightgreen; */
  width: 40%;
}

.mostafftophead
{
  font-size: 9vh;
  font-family: 'Montserrat';
}

.mostaffpara
{
  color: white;
  font-size: 3vh;
}

@media (max-width:445px) {
  .mostafftophead
  {
    font-size: 6vh;
    font-family: 'Montserrat';
  }
  .mostaffheading
{
  flex-direction: column;
  height: 120vh;
  width: 100%;
}
  
  .mostafflogo
{
  height: 120vh;
  background-color: lightgreen;
  width: 0%;
}
  
}