/* Example styling, you can modify as per your requirements */
.why-us-home {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;
  margin: 2rem 0;
}

.container-home {
  flex-basis: 30%;
  max-width: 400px;
  margin: 1rem;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.key-point-home {
  flex: 1;
  background-color: #5c987f;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.key-point-home h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description-home {
  flex: 1;
  margin-top: 1rem;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 1rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-home p {
  margin-bottom: 1rem;
}

.description-home img {
  max-width: 100%;
 max-height: 30vh; 
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.description-home:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .why-us-home {
    flex-direction: column;
    align-items: center;
  }

  .container-home {
    width: 90%;
    margin: 1.5rem 0;
  }
}
