.navbar {
  position: fixed;
  height: 10vh;
  top: 0;
  left: 0;
  margin-bottom: 1vh;
  width: 99%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:whitesmoke;
  color: rgb(60, 155, 167);
  
 
}

.logo {
  display: flex;
  align-items: center;
}

.main-logo {
  height:10vh;
  width: auto;
  margin-right: 0.5rem;
}

.nav-links {
  display: none;
  list-style-type: none;
  gap: 1rem;
  
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Montserrat';
  color: #374957;
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
 
  padding: 0.5rem 1rem;
  border-radius: 4px;
 
  transition: background-color 0.3s ease;
  
}
.nav-links li a.active{
  font-weight: 700;
}
.navbut{
  text-decoration: none;
  color: #367590;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 4px;
 
  transition: background-color 0.3s ease;
  
}




.auth-buttons {
  display: none;
  gap: 1rem;
  
}


.login-button,
.register-button {
  font-size: large;
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Montserrat';
  margin: 2vh;
}

.login-button:hover,
.register-button:hover {
  background-color: #6a0303;
  color: white;
}

.transition-button {
  padding: 0.5rem 1rem;
  background-color: #ff8b5c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.transition-button:hover {
  transform: scale(1.1);
}

/* Mobile Menu Styles */
.mobile-menu {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  
  
}

.menu-button {
  width:98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  z-index: 2;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: 'Montserrat';
  cursor: pointer;
}

.menu-icon {
  width: 100%;
  height: 2px;
  
  background-color: #022135;
  transition: background-color 0.3s ease;
}



.mobile-menu-content {
  
  background-color:#456174;
  position: absolute;
  top: 0;
  /* z-index: -1; */
  left: -100%; /* Slide in from the left */
  width: 60%;
  height: 100vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  background-color: #022135;
  transition: opacity 24s ease, transform 24s ease, visibility 24s, left 24s ease; /* Add transition for left property */
  
}


.mobile-menu.open .mobile-menu-content {
opacity: 1;
visibility: visible;
left: 0; /* Slide to the center */
}

.mobile-menu-content .nav-links {
  
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  display:flex;
  justify-content: center;

}
.mobile-menu-content .nav-links li a {
  color: white;
  padding:10rem0;
}

.mobile-menu-content .auth-buttons {
  
  display: flex;
  flex-direction: column;
  display:flex;
  justify-content: center;
  gap: 1rem;
  width:60%;
  display:flex;
  justify-content: center;
  font-family: 'Montserrat';
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .auth-buttons {
    display: flex;
  }

  .nav-links {
    display: flex;
  }
  .register-button {
    padding: 0.5rem 1rem;
    background-color: red;
    color: #fff;
    /* border: 2px solid red; */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Montserrat';
  }
  .nav-links li a:hover {
    color: black;
   border-bottom:2px solid yellow ;
    border-radius: 0px;
  }
 
}

.gap
{
height: 10vh;
}


.popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}



.popup2 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0px;
}

.popup2 input[type="text"],
.popup2 input[type="email"],
.popup2 input[type="password"] {
  width: calc(100% - 40px);
  max-width: 60vw;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}








/* Add media queries for smaller screens */
@media screen and (max-width: 600px) {
  .popup2 {
    width: 90%;
    max-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .popup2 {
    width: 90%;
    max-width: 250px;
  }
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #333333;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.closeButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  background-color: #ff0000;
}

.closeButton:focus {
  outline: none;
}

.closeButton:hover {
  transform: rotate(180deg);
}




.submit {
  color: rgb(220, 219, 222);
  border-radius: 30px;
  width: 15vh;
  background-color: red;
  height: 6vh;
}

.username {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}

.username img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.buttonu {


padding: 12px;
border-radius:30px ;
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat';
  background-color:#ff0000;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;

  
  
  
  
 
  
}

.buttonu:hover {

  
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.1);
  /* Add any other styles for hover state */
}




.buttonu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoutbuttonu {
  background-color: transparent;
  border: none;
  color: rgb(255, 0, 0);
  border-bottom: 1px solid #0b0000;
  transform: scale(1);
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.logoutbuttonu:hover {
 
  border-color: red;
  transform: scale(1.05);
}
.forgot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fe0404;
  font-weight: bold;
  text-decoration: underline;
}
.strua{
  display: flex;
  justify-content: end;
}
